  [data-md-color-scheme="dark"] {
    --md-typeset-a-color:  #6BE4E6 ;
    --md-primary-fg-color:        #1C1E26;
    --md-primary-fg-color--light: #FDF0ED;
    --md-primary-fg-color--dark:  #1C1E26;
  }

  [data-md-color-scheme="light"] {
    --md-typeset-a-color:  #59E1E3 ;
    --md-primary-fg-color:        #1C1E26;
    --md-primary-fg-color--light: #FDF0ED;
    --md-primary-fg-color--dark:  #1C1E26;
  }