[data-md-color-scheme="light-mode-scheme"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-bg-color: 
  }

  [data-md-color-scheme="light-mode-base"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-bg-color: 
  }

  [data-md-color-scheme="light-mode-accent"] {
    --md-primary-fg-color:        #EE0F0F;
    --md-primary-bg-color: 
  }

  [data-md-color-scheme="dark-mode-scheme"] {
    --md-primary-fg-color:        #1C1E26;
    --md-primary-bg-color: 
  }

  [data-md-color-scheme="dark-mode-base"] {
    --md-primary-fg-color:        #1C1E26;
    --md-primary-bg-color: 
  }

  [data-md-color-scheme="dark-mode-accent"] {
    --md-primary-fg-color:        #E9436D;
    --md-primary-bg-color: 
  }
